[[source]]
#url = "https://pypi.org/simple"
url = "https://piwheels.org/simple"
verify_ssl = true
name = "pypi"

[packages]
evdev = "*"
numpy = "*"
pyserial = "*"
Pypubsub = "*"
picamera = {extras = ["array"], version = "*"}
#smbus = "*"

[dev-packages]
opencv-contrib-python = "*"

[require]
python_version = "3.6"
