[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
evdev = "*"
numpy = "*"
pyserial = "*"
pypubsub = "*"

[dev-packages]
opencv-contrib-python = "*"
opencv-python = "*"

[require]
python_version = "3.6"
